<!DOCTYPE html>
<html lang="en" ng-app="food10">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food10</title>

    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/style.css">

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/products.controller.js"></script>
    <script src="js/hampers.controller.js"></script>
</head>
<body>
	<div ng-controller="hampers">
		<div class="jumbotron">
			<form name="contatoForm">
				<input class="form-control" type="text" ng-model="hamper.name" name="nome" placeholder="Nome" ng-required="true"/>
				<input class="form-control" type="text" ng-model="hamper.description" name="descricao" placeholder="Descrição"/>
			</form>

			<button class="btn btn-primary btn-block" ng-click="createHamper()" ng-disabled="contatoForm.$invalid">Criar Cesta</button>
			
			<table ng-show="hampers.length > 0" class="table">
				<tr>
					<th></th>
					<th class="text-center">Nome</th>
					<th class="text-center">Descrição</th>
					<th class="text-center">Produtos</th>
					<th class="text-center">Valor de Venda</th>
				</tr>
				<tr ng-class="{'selecionado negrito': hamper.selected}" ng-repeat="hamper in hampers">
					<td><input type="checkbox" ng-model="hamper.selected"/></td>
					<td>{{hamper.name}}</td>
					<td>{{hamper.description}}</td>
					<td>
						<div ng-repeat="prod in hamper.products">
							{{prod.name}} - {{prod.brand}} | R$ {{prod.price}} Reais
						</div>
					</td>
					<td>R$ {{calculateTotalPrice(hamper)}}</td>
				</tr>
			</table>
			
			<button class="btn btn-danger btn-block" ng-click="deleteHampers()">Apagar Cesta</button>
		</div>
	</div>

	<div ng-controller="products">
		<div class="jumbotron">
			<table ng-show="products.length > 0" class="table">
				<tr>
					<th></th>
					
					<th class="text-center">Nome</th>
					<th class="text-center">Marca</th>
					<th class="text-center">Preço</th>
				</tr>
				<tr ng-class="{'selecionado negrito': product.selected}" ng-repeat="product in products">
					<td><input type="checkbox" ng-model="product.selected"/></td>
					<td>{{product.name}}</td>
					<td>{{product.brand}}</td>
					<td>{{product.price}}</td>
					<td><button  ng-click="showEditProductForm(product)">Editar Produto</button></td>
				</tr>
			</table>
			<hr/>
			<form name="contatoForm">
				<input class="form-control" type="text" ng-model="product.name" name="nome" placeholder="Nome" ng-required="true"/>
				<input class="form-control" type="text" ng-model="product.brand" name="marca" placeholder="Marca" ng-required="true"/>
				<input class="form-control" type="number" ng-model="product.price" name="preco" placeholder="Preço" ng-required="true"/>
			</form>
			<form name="editProduct" ng-show="editFormVisibility"  >
				<input class="form-control" type="text" ng-model="product.name" name="nome"  placeholder="Edite o nome do produto" ng-required="true"/>
				<input class="form-control" type="number" ng-model="product.price" name="preco" placeholder="Edite o preco do produto" ng-required="true"/>
				<button  class="btn btn-primary btn-block" ng-click="updateProduct(product)" >Editar Produto</button>
			</form>

			<!--<div ng-messages="contatoForm.nome.$error.required && contatoForm.nome.$dirty" class="alert alert-danger">
					Por favor, preencha o campo nome!
			</div>

			<div ng-messages="contatoForm.preco.$error.required && contatoForm.preco.$dirty" class="alert alert-danger">
					Por favor, preencha o campo preço!
			</div>-->

			<button class="btn btn-primary btn-block" ng-click="createProduct()" ng-disabled="contatoForm.$invalid">Adicionar Produto</button>
			<button class="btn btn-danger btn-block" ng-click="apagarProdutos()">Apagar produtos</button>
		</div>
	</div>
</body>
</html>